.header {
  color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 100%;
  font-size: 4rem;
  font-weight: 600;

  background: linear-gradient(#ca8a04 95%, #e1e1e6 100%);
}