.container {
  background: var(--gray-100);
  min-width: 75rem;
  min-height: 32rem;

  //border: 1px solid red;
}

.formContainer {
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;

  //border: 1px solid red;
}

input {
  width: 20rem;
  height: 100%;
  font-size: 1.2rem;
  color: var(--gray-600);
  background: var(--gray-100);
  font-weight: 600;

  border: 2.5px solid var(--gray-400);
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
}

select {
  width: 11rem;
  height: 100%;
  font-size: 1.2rem;
  color: var(--gray-500);
  font-weight: 600;
  background: var(--gray-100);


  border: 2.5px solid var(--gray-400);
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 8rem;
  height: 100%;
  font-size: 1.2rem;

  border: 2.5px solid var(--gray-400);
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--yellow-500);
  cursor: pointer;
  color: var(--gray-500);
  font-weight: 600;
  transition: color 0.2s, background-color 0.2s;
}

button:hover {
  background: var(--yellow-600);
  color: var(--gray-100);
}

.watchlistContainer {
  min-height: 25rem;
  margin: 1rem;
  background: var(--stone);
  border-radius: 8px;
  border: 2.5px solid var(--gray-400);

  //border: 1px solid red;
}

.watchlistContainer header {
  background: var(--yellow-500);
  color: var(--gray-200);
  font-weight: 600;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid var(--gray-400);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;

  //border: 1px solid red;
}

.infoContainer {
  max-height: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  overflow-x: hidden;

  position: relative;

  border: 1px solid red;
}

.infoContainer p {
  width: 10rem;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  //border: 1px solid red;
}

.infoContainer span {
  margin-right: 4rem;
}

.infoContainer button {
  width: 50px;
  height: 40px;
  border: 0;
  background: transparent;
  color: var(--gray-500);
  cursor: pointer;

  //border: 1px solid red;
}

.infoContainer button:hover {
  color: var(--yellow-600);
}