.container {
  background: var(--gray-100);
  min-width: 75rem;
  min-height: 32rem;
  margin: 2rem auto;

  //border: 1px solid red;
}

.formContainer {
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  //border: 1px solid red;
}

input {
  width: 15rem;
  height: 100%;
  font-size: 1.2rem;
  color: var(--gray-500);
  font-weight: 600;

  border: 1px solid var(--gray-900);
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
}

select {
  width: 11rem;
  height: 100%;
  font-size: 1.2rem;
  color: var(--gray-500);
  font-weight: 600;

  border: 1px solid var(--gray-900);
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 8rem;
  height: 100%;
  font-size: 1.2rem;

  border: 2px solid var(--gray-500);
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--yellow-500);
  cursor: pointer;
  color: var(--gray-500);
  font-weight: 600;
}

.watchlistContainer {
  height: 25rem;
  margin: 1rem;
  background: var(--white);
  border-radius: 8px;

  //border: 1px solid red;
}

.watchlistContainer header {
  background: var(--yellow-500);
  color: var(--gray-500);
  font-weight: 600;
  border-radius: 8px 8px 0 0;

  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.5rem;

  //border: 1px solid red;
}

.watchlistContainer span {
  margin-right: 15rem;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
  font-size: 1.2rem;

  //border: 1px solid red;
}

.infoContainer p {
  margin-left: 1rem;
}

.infoContainer span {
  margin: 0;
}

.infoContainer button {
  width: 7rem;
  margin-left: 0;
  font-size: 1rem;
  outline: none;
}