.dataContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  margin: 0.3rem;

  border-bottom: 2px solid var(--gray-400);

  //border: 1px solid red;
}

.dataContainer span {
  margin-left: 4rem;
}

.dataContainer button {
  width: 50px;
  height: 40px;
  border: 0;
  background: transparent;
  color: var(--gray-500);
  cursor: pointer;

  float: right;

  display: flex;

  //border: 1px solid red;
}

.dataContainer button:hover {
  color: var(--yellow-600);
}

.dataContainer .entrance {
  width: 7rem;
  display: flex;
  justify-content: center;

  //border: 1px solid red;
}
.dataContainer .exit {
  width: 7rem;
  display: flex;
  justify-content: center;
  margin-left: 5rem;

  border: 1px solid red;
}

