.dataContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 0.3rem;

  border: 1px solid red;
}

.dataContainer p {
  margin-left: 2rem;
}

.dataContainer span {
  margin-right: 4rem;
}

.dataContainer button {
  width: 50px;
  height: 40px;
  border: 0;
  background: transparent;
  color: var(--gray-500);
  cursor: pointer;

  //border: 1px solid red;
}

.dataContainer button:hover {
  color: var(--yellow-600);
}
